[Desktop Entry]
Type=Service
Name=Atalhos de descompactacao
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/zip;application/x-zip-compressed;application/x-7z-compressed;application/x-rar;application/vnd.rar;application/x-tar;application/x-compressed-tar;application/x-bzip-compressed-tar;application/x-xz-compressed-tar;application/x-zstd-compressed-tar;application/x-lz4-compressed-tar;application/x-lzip-compressed-tar;application/x-lzma-compressed-tar;application/gzip;application/x-bzip;application/x-xz;application/zstd;
Actions=extractHere;extractToFolder;
X-KDE-Submenu=Descompactar
X-KDE-Submenu[pt_BR]=Descompactar

[Desktop Action extractHere]
Name=Extrair aqui
Name[pt_BR]=Extrair aqui
Exec=@HOME@/.local/bin/dolphin-extract here %F
Icon=archive-extract

[Desktop Action extractToFolder]
Name=Extrair para pasta com o mesmo nome
Name[pt_BR]=Extrair para pasta com o mesmo nome
Exec=@HOME@/.local/bin/dolphin-extract folder %F
Icon=folder-new
